.mobileprice-logo img { width: 100%; padding: 15px; margin: 0px auto; display: table; }
.pagenation-main { padding-top: 10px;}
.pagenation-text { padding-left: 0px;}
.mobileprice-text h3 { margin-top: 0px; margin-bottom: 0px; border-bottom: 1px solid #999; padding-bottom: 10px;}
.mobileprice-body-main { padding: 10px 0px; border-bottom: 0px solid #999;}
.mobileprice-text { padding: 0px !important;}
.mobileprice-text p { border-left: 5px solid #eaeaea; border-right: 5px solid #eaeaea; padding: 0px 15px; text-align: justify;}
.mobileprice-logo-stars fieldset, .mobileprice-logo-stars label { margin: 0; padding: 0; }
.mobileprice-logo-stars { margin: 0px auto; display: table;}
.mobileprice-logo-stars .rating { line-height: 14px;}
.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
#owl-demo .owl-item img {
  margin: 3px; border-right: 3px solid #eaeaea;
}
.sortby-text select { width: 150px;}
#owl-demo .owl-item img {
  display: block;
  width: 100%;
  height: auto;
}
.carousel-main { padding-bottom: 10px;}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: inline-block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px; float: left;
}
.owl-theme .owl-controls .owl-page:active span {
    opacity: 1;
}
.owl-pagination { margin: 0px auto; display: none;}
.owl-pagination .owl-page { display: inline;}
.owl-controls { padding-top: 5px;}
.otherbrands-main { border-bottom: 1px solid #999;}
.otherbrands-text h3 { font-weight: 600;  font-size: 30px; margin-top: 15px; line-height: 32px; margin-bottom: 5px;}
.otherbrands-text h4 { font-weight: 600; font-size: 24px; line-height: 26px; margin-top: 0px;}
.showingproducts-main { padding: 15px 0px;}
.showingproducts-text, .sortby-text { padding: 0px;}
.showingproducts-text h4 { margin: 0px;}
.pricerange-head { float: left; width: 100%;}
.pricerange-head h3 { font-size: 20px; float: left; margin-top: 5px;}
.clear-text { float: right; color: #afafaf;}
.sidebar-main {border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; }
.pricerange-sidebar-main  { padding: 0px;}
section.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
}
.pricerange-type { height: 70px;}
section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 35px;
    width: 250px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

.pricerange-values { padding: 0px;}
.pricerange-values input { width: 100%; border: 1px solid #bbbbbb; padding-left: 5px;}
.pricerange-input { padding-left: 0px; padding-right: 8px;}
.pricerange-input-right { padding-left: 8px; padding-right: 0px;}
.rangeValues { position: relative; top: 10px;}
section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}
.pricerange-radio { padding-top: 35px;    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 15px;}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}
.brandhead { padding-top: 10px;}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
  section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}
.product-img img { max-width: 200px;}
.product-stars {line-height: 10px; margin: 0px auto; display: table;}
.product-price h4 { color: #337ab7;}
.product-specifications {    max-width: 200px;
    margin: 0px auto;}
.product-specifications ul li { font-size: 12px; line-height: 18px;}
.product-specifications ul {background: #eaeaea; padding-top: 5px;padding-bottom: 5px;}
.product-title { border-bottom: 1px solid #eaeaea;}
.buynowbtn { margin: 0px auto;  display: table; padding: 5px 25px; font-size: 16px;}
.products-list {padding-right: 0px; padding-left: 0px; z-index: 9;}
.product-border-main { border-right: 1px solid #eaeaea;}
.products-row-main { border-top: 1px solid #eaeaea;}
.products-main { margin-bottom: 25px;}
.showmore-head h3 { margin: 0px; padding: 8px; text-align: center; font-weight: bold; background: #eaeaea;}
.showmore-text-head h4 { padding-top: 10px; border-bottom: 1px solid #bbb; padding-bottom: 5px;}
.showmore-text-head p { text-align: justify; }

.subscribe-form {
  position: relative;
  padding: 0px;
  border-radius: 0px; margin-bottom: 0px !important;
}

.subscribe-input {
  padding: 0 16px;
  width: 100%;
  height: 35px;
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 15px;
  color: #444;
  background: #fefefe;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #999 #aaa #aaa;
  border-radius: 0px;
}
.subscribe-main p { margin-bottom: 0px;}

.subscribe-submit {
  display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 15px;
    height: 35px;
    width: 160px;
    background: orange;
  border: 1px solid;
  border-color: orange; color: #fff;
  border-radius: 0px;
  cursor: pointer;
 
}
.pagenation-text a { color: #000;}
.pricerange-radio input[type=checkbox]{
 width: 20px;
  height: 15px;
  background: #333;
  margin: 3px auto;
  position: relative;
 
}
.pricerange-radio input[type=checkbox]:after {
   content: '';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}
.pricerange-radio input[type=radio] {
      width: 20px;
    height: 15px;
    position: relative;
    margin: 3px auto;
    background: #fcfff4;
}
.pricerange-radio input[type=checkbox]:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
.rolloverimage img {width: 65px; margin: 0px auto; display: table; border: 1px solid #eaeaea; padding: 2px;}
.ratethisproduct-stars { float: left;
    padding-left: 8px;}
.ratethisproduct-head { float: left;  padding-top: 10px;}
.ratethisproduct-head h4 { float: left; margin: 0px;}
.ratethisproduct-ratingshead a, .ratethisproduct-reviewshead a, .amazon-moredetails a{ color: #000;}
.bestprice-head h2 {     margin: 0px;
    padding-top: 5px;
    color: #B9762F;}
.bestprice-head { border-bottom: 1px solid #eaeaea;
    padding-bottom: 5px;
    padding-left: 0px;
    margin-left: 15px;}
.amazon-logo { padding-top: 10px; }
.amazon-logo img { width: 100%; }
.amazonactualprice { padding-top: 10px;}
.amazonactualprice h4 {     font-size: 22px;
    font-weight: bold;}
.amazonactualprice h5 { font-weight: bold;
    font-size: 18px;}
.amazonstore-head { padding-top: 25px;}
.amazonstore-store-main { border-bottom: 1px solid #eaeaea;
    padding-left: 0px; padding-right: 0px;
    margin-left: 15px;
    padding-bottom: 5px;}
.quickspecifications-main {     background: #DDEDFD;
    padding: 15px 30px;
    margin-top: 15px;}
.general-head { float: left; padding: 5px 0px;}
.general-text {     float: left;
    text-align: right;}
.general-text strong { text-align: right;}
.general-specifications { background: #f9f9f9;
    padding: 5px 10px;
    margin-top: 10px;}
.general-specifications-text { padding-left: 0px;}
.general-head-main { padding-top: 10px;}
.specifications-btn { background: #7E70A3;
    color: #fff;
    width: 100%;
    border: 0px; font-size: 20px;
    padding: 8px;}
.specifications-main {
  padding-top: 15px;
    padding-bottom: 15px;
}
.tableimg img { width: 100px;}
.pricelisttable-main .btn { margin-top: 5px;}
.mobilespecifications-head { padding-left: 0px; margin-left: 15px;  border-bottom: 1px solid #eaeaea;}
.brandtext { width: 30%;}
.samsungtext { width: 70%; }
.features-mobilespecifications-text {     padding-left: 50px;
    padding-top: 5px;    border-left: 1px dotted #999;
    margin-left: 10px;
    margin-bottom: 25px;}
.brandtext { border-right: 2px solid #fff;}
.similarmobile-head h3 { font-size: 20px;}
.similarmobile-img img { width: 80px;}
.similarmobile-img { float: left;}
.similarmobile-imgtext { padding-top: 5px;}
.similarmobile-text { min-height: 80px;}
.whatsnot-main p { text-align: justify;}
.whatsnot-main {     margin-top: 20px;
    border: 5px solid #eaeaea;
    padding: 20px;}
.whatsnot-main strong { line-height: 30px;}
.productlist .product-img img { margin: 0px auto; display: table;}
.productlist .products-row-main { margin-top: 30px;}
.sortby-text { padding-top: 8px;}
.otherbrands-slider.col-md-9 { padding: 0px;}
.table-main{ width: 100%; }
@media only screen and (min-width: 1400px) {
  .container {
    width: 1330px;
  }
}

@media screen and (max-width: 767px) { 
    .container { margin-left: 0px; width: 100%; margin-right: 0px;}
    .updated-text {    text-align: left;
    padding-left: 0px !important;}
    .mobileprice-logo img {width: 70%;}
    .owl-carousel .owl-item { width: 130px !important;}
    .otherbrands-text h3 { font-size: 26px; margin-top: 15px; line-height: 26px;}
    .otherbrands-text h4 {font-size: 20px; line-height: 22px;}
    .otherbrands-slider { padding-bottom: 15px;}
    .sortby-text { text-align: left; padding-top: 10px;}
    .products-list { margin-bottom: 15px;}
    .showmore-text-head h4 { padding-top: 0px;}
    .mobileprice-logo.col-sm-6 { padding-right: 0px;}
    .mobileprice-text p { padding: 0px 0px 0px 15px; border-left: 0px; border-right: 0px;}
    .subscribe-form { margin-top: 10px;}
    .product-img img { margin: 0px auto; display: table;}
    .rolloverimage img { width: 65px !important;}
    .amazon-logo { padding-top: 0px;}
    .amazon-logo img { width: 70%; margin: 0px auto; display: table;}
    .amazonactualprice h4, .amazonactualprice h5 { margin-bottom: 0px; margin-top: 0px; }
    .amazonactualprice { padding-bottom: 10px;}
    .specifications-text { margin: 5px 0px;}
    .specifications-text { padding-right: 0px !important;}
    .whatsnot-main { padding: 5px 10px;}
    .product-border-main {border-left: 1px solid #eaeaea;}
    .showmobile-main { padding-right: 0px;}
    .products-main.col-md-9 { padding-right: 0px;}
    .sortby-text select { width: 100%; margin-top: 5px;}
    .sidebar-main { border-left: 0px;}
    .sortby-empty { display: none;}
    .amazonstore-store-main { border-bottom: 0px;}
    .ratethisproduct-ratingshead h4 { font-size: 16px;}
    .quickspecifications-main { padding: 10px 25px;}
    .mobileprice-text h3 { font-size: 18px; line-height: 20px;}
    .amazonactualprice h4 { font-size: 20px; font-weight: normal; }
    .amazonactualprice h5 { font-weight: normal; font-size: 16px; }
    .general-specifications { padding: 3px 5px; font-size: 12px; line-height: 23px;}
    .general-head { padding: 2px 0px;}
    .specifications-main { padding-top: 0px; padding-bottom: 10px; }
    .specifications-btn { border: 0px; font-size: 13px; padding: 4px 5px; }
    .specifications-text { margin: 2px -5px; }
    .discounttext-main .text-right h3 { text-align: left; font-size: 20px; line-height: 22px; margin: 0px 0px 5px 0px; }
    .discounttext-main .col-md-6 { padding: 0px;}
    .mobilespecifications-left { padding: 0px;}
    .mobilespecifications-head { margin-left: 0px;}
    .mobilespecifications-head h3 { font-size: 20px; margin: 0px 0px 5px 0px;}
    .features-mobilespecifications h3 { margin: 10px 0px 0px 0px; font-size: 20px;}
    .features-mobilespecifications h3 i { margin-right: -15px;}
    .features-mobilespecifications-text { padding-left: 15px; margin-bottom: 15px;}
    .features-mobilespecifications-text tr td { padding: 5px 10px !important;}
}